.registration-main-section{
    width: 100%;
    height: 100%;
}

.registration-main-section .registration-container-box{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration-main-section .registration-container-box .registration-card {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    min-height: 300px;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.registration-main-section .registration-container-box .registration-card .header{
    width: 100%;
    text-align: center;
}

.registration-main-section .registration-container-box .registration-card .header span{
    font-size: 1.7rem;
    font-weight: 700;
    font-variant: small-caps;
}

.registration-main-section .registration-container-box .registration-card .registration-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.registration-main-section .registration-container-box .registration-card .registration-detail input{
    width: 100%;
    padding: 10px;
    /* margin-bottom: 12px; */
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    outline: none;
    color: #333;
}

.registration-main-section .registration-container-box .registration-card .registration-detail input:focus{
    border: 1px solid red;
}

.registration-main-section .registration-container-box .registration-card .registration-detail .submit-btn{
    width: 100%;
    background-color: red;
    border-radius: 6px;
    color: white;
    font-variant: small-caps;
    padding: 7px 15px;
}